
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;

    scroll-behavior: smooth;
    scroll-snap-align: start;
}


.header{
    width: 100%;
    height: 70px;

    background-color: rgb(78, 143, 78,0.26);
    backdrop-filter: blur(10px);
    z-index: 1;


    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    position: fixed;
    top: 0px;

    border-bottom: 1px solid black;
}

.header__logo{
    height: 100%;
    width: 70px;
  padding: 10px;
    

}

.header__nav{
width: 35%;
height: 100%;

display: flex;
justify-content: space-between;
}
.header__nav--backtotop{
    width: 200px;
    border-right: 1px solid black;
    border-left: none;
    height: 100%;
}

.nav__item{
    width: 80px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-left: 1px solid black;

    &:hover{
        color: white;
        background-color: rgb(101, 175, 101, 0.26);
        cursor: pointer;
    }
}

.nav__item--button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-left: 1px solid black;
    font-size: larger;

    &:hover{
        color: white;
        background-color: rgb(101, 175, 101, 0.26);
        cursor: pointer;
    }
}


#logoimage{
    background-image: url(/Assets/img/logo-no-background\ 1.svg);
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;

    box-shadow: 0px 0px 10px black;

    background-color: rgba(0, 0, 0, 0.644);

    border-radius: 10px;
    align-self: center;
}

.p-diddy{
    top: -100px;
}
.g-diddy{
    bottom: 200px;
}
.hero__wrapper{
    display: flex;
    height: 1000px;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    z-index: -5;
}
.hero__logo--text{
    display: flex;
    height: 600px;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}

.hero__item{
    position: absolute;
    z-index: -5;
}
.hero--text{
    z-index: 1;
    
    align-self: center;

    color: white;

    font-size: 80px;

    top: 100px;
}
.content__main{
    background-color: #1A2A26;
}

.content__header{
    width: 100%;
    height: 700px;
    background-color: #1A2A26;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;

    color: white;
}
.content__header--text{
    font-size: 50px;
    margin-bottom: 20px;
}
.content__header--description{
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
}
.content__profile{
    background-image: url(/Assets/img/Facetune_21-11-2023-21-31-55.webp);
    height: 300px;
    width: 300px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0px 0px 10px black;
    border: 3px solid black;
    border-radius: 50%;
}
.content__projects{
    width: 100%;
    height: 1000px; 
    margin-top: 200px;
    padding-top: 60px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    color: white;
}
@keyframes jumping{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
.techstack__head--text{
    margin-bottom: 50px;
    animation: jumping 3s infinite;
}
.techstack__head--text span{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.techstack__header{
    text-align: center;
    font-size: 50px;
    color: white;

    background-color: #1A2A26;
}


.content__techstack{
    background-color: #1A2A26;
    display: flex;
    justify-content: space-around;
    color: white;
    overflow: hidden;

    margin-bottom: 150px;
}
.code__item,.art__item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    justify-content: flex-start;
    font-size: 25px;
}
.techstack__item{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: black;
}

.techstack__code{
   padding: 10px;
   border-right: 1px solid black;
}

.techstack__art{
    padding: 10px;
    border-left: 1px solid black;
}
.techstack__header--text{
    font-size: 35px;
    padding-bottom: 20px;
}

.code__img--html{
    background-image: url(/Assets/miniLogos/html-5-logo-svgrepo-com.svg);
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
}
.code__img--css{
    background-image: url(/Assets/miniLogos/css-3-svgrepo-com.svg);
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
}
.code__img--js{
    background-image: url(/Assets/miniLogos/js-svgrepo-com.svg);
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
}
.code__img--react{
    background-image: url(/Assets/miniLogos/react-javascript-js-framework-facebook-svgrepo-com.svg);
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
}

.art__img--psd{
    background-image: url(/Assets/miniLogos/photoshop-svgrepo-com.svg);
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
}

.art__img--figma{
    background-image: url(/Assets/miniLogos/figma-svgrepo-com.svg);
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.content__fun{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 8s infinite;

    overflow: hidden;
}

.content__fun img{
    width: 400px;
    height: 400px;
    padding: 10px;
}


.content__projects{
    height: 1000px;
}

.projects__header--text{
    font-size: 50px;
    color: white;
    text-align: center;
}


.projects__wrapper--left{
    display: flex;
    align-items: center;
    height: 400px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.projects__wrapper--right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 400px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.project__image{
    width: 400px;
    border-radius: 5px;
    border: 1px solid white;
}
.project__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project__text{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}


.project__link{
    width: 100%;
    height: 50px;
    background-color: #1A2A26;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    &:hover{
        background-color: white;
        color: #1A2A26;
        cursor: pointer;
    }
}



.project__button{
    text-decoration: none;
    width: 150px;
}

.content__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contact__form{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    margin-bottom: 100px;
}

.footer{
    background-color: black;
    height: 200px;
}